<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
</head>

<style>
    table, th, td {
        border: 1px solid black;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a.active {
        background-color: #4CAF50;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
</style>


<div class="col-xs-2">
    <ul >
        <li><a ng-href="/#!/home">Home</a></li>
        <li><a ng-href="/#!/routes">Route</a></li>
        <li><a ng-href="/#!/transport">Transport</a></li>
        <li><a href="/#!/warehouse">Warehouses</a></li>
        <li><a href="/#!/user">Users</a></li>
        <li><a class="active" ng-href="/#!/package">Pack </a></li>
    </ul>
</div>
<div class="col-xs-8">

    <table ng-table="vm.newTable" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="pack in packageInWarehouse">
            <td title="'Package name'">
                {{pack.name}}</td>
            <td title="'Owner'"  >
                {{pack.user.firstName}} {{pack.user.lastName}}   </td>
            <td title="'Description'" >
                {{pack.description}}</td>
            <td title="'Package time accepted'" >
                {{pack.timeString}}</td>
            <td title="'Capacity'" >
                {{pack.capacity}}</td>
            <td title="'Warehouse'" >
                {{pack.warehouse.name}}</td>
            <td title="'Action buttons'" >
                <a ng-click="edit(pack)" class="btn btn-primary btn-sm">Edit</a>
                <a ng-click="deletePack(pack)" class="btn btn-danger btn-sm">Delete</a>
            </td>

        </tr>
    </table>

    <div class = "panel panel-default">
        <a href="#" class="btn btn-default" ng-click="open('lg')"> Add package</a></div>
</div>
